html,
body{

  height: 100%;
  background-color: #E7E2E1;
}
header{
   background-color: 837B79;
   height: 100%;
}

@media (max-width: 740px) {
  html,
  body,
  header{
    height: 100vh;

  }
}

.top-nav-collapse {
  background-color: #78909c !important;
}


@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #78909c !important;
  }
}

ul {
    list-style: none;
}
